<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    {% if messages %}
        <center>
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </center>
        {% endif %}

    <div id="loginContainer" class="login-container">
        <div class="login-box">
          <h1>SamsAI</h1>
    {% block content %}
    <!-- Login ou Cadastro aqui -->
    {% endblock %}
        </div>
    </div>
</body>