<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% load static %}
  <meta charset="UTF-8" />

  {% if conversa_id is None %}
    <title>SAMSAI - Chat</title>
  {% else %} 
    <title>SAMSAI - {{ conversa_atual.nome }}</title>
  {% endif %}
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚖️</text></svg>">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>

</head>
<body>
  <div id="chatContainer" class="chat-container">
    <div class="sidebar" id="sidebar">
      <h2>Conversas</h2>
      <ul id="historyList">
         <!-- Lista de conversas gerada dinamicamente -->
      </ul>
    </div>
    <div class="chat-section" id="chatSection">
      <div class="chat-header" id="chatHeader">
        <h1>SamsAI</h1>
        <div id="warning">
          <!--Mensagens de aviso/erro renderizadas pelo Javascript-->
        </div>
        <div id="profileIcon" class="profile-container">
          <i class="fa fa-user fa-3x" alt="Ícone de perfil"></i>
          <div id="profileDropdown" class="profile-dropdown"> 
            <a id="logoutBtn" href="{% url 'logout' %}" class="profile-btn">Sair</a>
            <button id="configBtn" class="profile-btn">Configurações</button>
            <button id="show-pdfBtn" class="profile-btn">Meus arquivos</button>
          </div>
        </div>
      </div>
      <div class="chat-window" id="chatWindow">
        {% if conversa_id is None %}
        <div class="welcome-message">
          <p>Olá, {{ nome_usuario }}</p>
          <p>Como posso ajudar?</p>
        </div>
        {% else %}
          <!--Mensagens renderizadas pelo Javascript-->
        {% endif %}
      </div>
      <div id="show-attached-file" class="chat-input">
        <i class="fa fa-file-pdf fa-3x"></i>
        <p id="attached-file-name"></p>
        <i id="desattach-file" class="fa fa-xmark fa-2x"></i>
      </div>
      <div class="chat-input">
        <button id="fileBtn" class="btn-file"><i class="fa fa-paperclip fa-2x"></i></button>
        <input name="arquivo" accept="application/pdf" type="file" id="fileInput" style="display: none;">
        <input name="mensagem_usuario" type="text" autocomplete="off" id="messageInput" contenteditable="true" placeholder="Digite sua mensagem...">
        <button id="audioBtn" class="btn-audio"><i class="fa fa-microphone fa-2x"></i></button>
        <button id="sendBtn" class="btn-send">Enviar</button>
      </div>
    </div>
  </div>
  
  <!-- Modal customizado para opções de conversa (renomear/apagar) -->
  <div id="customModal" class="modal">
    <div class="modal-content">
      <h2 id="modalTitle">Opções da Conversa</h2>
      <div id="modalBody">
        <!-- Conteúdo dinâmico (será inserido via JavaScript) -->
      </div>
      <div class="modal-actions">
        <button id="modalCancelBtn">Cancelar</button>
        <button id="modalConfirmBtn">Confirmar</button>
      </div>
    </div>
  </div>

  <!-- Popup de Confirmação para Apagar Conversa (centralizado) -->
  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <h2 id="deleteModalTitle">Apagar Conversa</h2>
      <p id="deleteModalBody"></p>
      <div class="modal-actions">
        <button id="deleteCancelBtn">Cancelar</button>
        <button id="deleteConfirmBtn" class="deleteConfirmBtn">Apagar</button>
      </div>
    </div>
  </div>

  <!-- Modal de Pré-visualização do PDF -->
  <div id="file-modal" class="modal">
    <div id="file-modal-content" class="modal-content">
      <div>
        <h2 id="file-name"></h2>
      </div>
      <div id="view-file">
        <!-- Visualização do PDF -->
      </div>
      <div id="ViewFileButtons" class="modal-actions">
        <button id="close-file" class="deleteConfirmBtn">Cancelar</button>
        <button id="confirm-send-file">Anexar PDF</button>
      </div>
      <div id="ViewFileButtonsError" class="modal-actions">
        <button id="close-file-error">OK</button>
      </div>
    </div>
  </div>

  
  <!-- Modal de Configurações -->
  <div id="configModal" class="modal">
    <div class="modal-content">
      <span id="closeModal" class="close-button">
        <i class="fa fa-xmark fa-2x"></i>
      </span>
      <h2>Configurações</h2>
      <form id="configForm">
        <div class="config-section">
          <label>Escolha o tema:</label>
          <div>
            <input type="radio" id="darkTheme" name="theme" value="dark" checked>
            <label for="darkTheme">Escuro</label>
          </div>
          <div>
            <input type="radio" id="lightTheme" name="theme" value="light">
            <label for="lightTheme">Claro</label>
          </div>
        </div>
        <div class="config-section">
          <label for="fontSizeSelect">Tamanho da fonte:</label>
          <select id="fontSizeSelect">
            <option value="14px">Pequeno</option>
            <option value="16px" selected>Médio</option>
            <option value="18px">Grande</option>
            <option value="20px">Extra Grande</option>
          </select>
        </div>
        <div class="config-section">
          <label for="fontFamilySelect">Fonte:</label>
          <select id="fontFamilySelect">
            <option value="Arial" selected>Arial</option>
            <option value="Verdana">Verdana</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Courier New">Courier New</option>
          </select>
        </div>
        <div class="prompt-input-section">
          <legend id="PromptInputLegend">Como o SamsAI deveria te responder?</legend>
          <textarea id="prompt-input" name="prompt-usuario" type="text" autocomplete="off">{{ prompt_instrucao }}</textarea>
        </div>
        <button type="submit" class="config-save-btn">Salvar</button>
      </form>
    </div>
  </div>

  <!-- Modal para visualização de arquivos PDF salvos -->
  <div id="filesListModal" class="modal">
    <div id="filesListContent" class="modal-content">
      <div id="FilesListHeader">
        <h2>Arquivos PDF salvos</h2>
        <span id="closeFilesListModal" class="close-button">
          <i class="fa fa-xmark fa-2x"></i>
        </span>
      </div>
      <div id="FilesListBody">
        <!-- Lista de documentos renderizada dinâmicamente pelo Javascript -->
      </div>
    </div>
  </div>

  <!-- Popup de Confirmação para apagar arquivo PDF -->
  <div id="deleteFileModal" class="modal">
    <div class="modal-content">
      <h2>Apagar Arquivo PDF</h2>
      <p id="deleteFileModalBody"></p>
      <div class="modal-actions">
        <button id="deleteFileCancelBtn">Cancelar</button>
        <button id="deleteFileConfirmBtn" class="deleteConfirmBtn">Apagar</button>
      </div>
    </div>
  </div>
  
</body>
</html>